In [2]:
import pandas as pd
df = pd.read_csv('ODII.csv')
df2 = df.rename({'Chocolate makes you.....': 'Y'}, axis=1)
df2.describe()
df3 = df2.drop('Y', 1)
df3.describe()
df4 = df3.drop('Tijdstempel',1)
df4.describe()

,What programme are you in?,Have you taken a course on machine learning?,Have you taken a course on information retrieval?,Have you taken a course on statistics?,Have you taken a course on databases?,What is your gender?,When is your birthday (date)?,Number of neighbors sitting around you?,Did you stand up?,What is your stress level (0-100)?,"You can get 100 euros if you win a local DM competition, or we don’t hold any competitions and I give everyone some money (not the same amount!). How much do you think you would deserve then?",Give a random number,Time you went to be Yesterday,What makes a good day for you (1)?,What makes a good day for you (2)?
count,304,304,304,304,304,304,214,304,304,304,303,304,302,304,304
unique,123,3,3,3,3,5,204,30,3,77,102,141,164,201,235
top,AI,yes,0,mu,ja,male,08-05-1998,0,no,50,100,7,23:00,Sun,Food
freq,39,185,202,243,158,183,3,126,236,22,50,20,21,14,11

In [3]:
df['Give a random number'].max()

'∞'

In [4]:
df['Give a random number'].min()

'-1'

In [5]:
ai = ["A.I", "Aritificial Intelligence", "artificial intelligence","AI","ai","Masters in Artificial Intelligence","AI for health","Artificial intelligence","MSc. AI at UvA ","MSc AI","Master Artificial Intelligence","MSc AI @ UvA","Masters AI","Ai","Artificial intelligence master","MSc Artificial Intelligence","MSc AI","MSc in AI","M Artificial Intelligence","AI Masters","Master AI","AI Cognitive Science Track","VU Master of AI"]
d = dict.fromkeys(ai,'AI')
df4["What programme are you in?"] = df4["What programme are you in?"].replace(d)

In [6]:
df4.describe()

,What programme are you in?,Have you taken a course on machine learning?,Have you taken a course on information retrieval?,Have you taken a course on statistics?,Have you taken a course on databases?,What is your gender?,When is your birthday (date)?,Number of neighbors sitting around you?,Did you stand up?,What is your stress level (0-100)?,"You can get 100 euros if you win a local DM competition, or we don’t hold any competitions and I give everyone some money (not the same amount!). How much do you think you would deserve then?",Give a random number,Time you went to be Yesterday,What makes a good day for you (1)?,What makes a good day for you (2)?
count,304,304,304,304,304,304,214,304,304,304,303,304,302,304,304
unique,106,3,3,3,3,5,204,30,3,77,102,141,164,201,235
top,AI,yes,0,mu,ja,male,08-05-1998,0,no,50,100,7,23:00,Sun,Food
freq,66,185,202,243,158,183,3,126,236,22,50,20,21,14,11

In [7]:
df5=df4.drop('Give a random number',1)

In [8]:
df5.describe()

,What programme are you in?,Have you taken a course on machine learning?,Have you taken a course on information retrieval?,Have you taken a course on statistics?,Have you taken a course on databases?,What is your gender?,When is your birthday (date)?,Number of neighbors sitting around you?,Did you stand up?,What is your stress level (0-100)?,"You can get 100 euros if you win a local DM competition, or we don’t hold any competitions and I give everyone some money (not the same amount!). How much do you think you would deserve then?",Time you went to be Yesterday,What makes a good day for you (1)?,What makes a good day for you (2)?
count,304,304,304,304,304,304,214,304,304,304,303,302,304,304
unique,106,3,3,3,3,5,204,30,3,77,102,164,201,235
top,AI,yes,0,mu,ja,male,08-05-1998,0,no,50,100,23:00,Sun,Food
freq,66,185,202,243,158,183,3,126,236,22,50,21,14,11

In [9]:
df6=df5.drop("Did you stand up?",1)

In [10]:
df6.describe()

,What programme are you in?,Have you taken a course on machine learning?,Have you taken a course on information retrieval?,Have you taken a course on statistics?,Have you taken a course on databases?,What is your gender?,When is your birthday (date)?,Number of neighbors sitting around you?,What is your stress level (0-100)?,"You can get 100 euros if you win a local DM competition, or we don’t hold any competitions and I give everyone some money (not the same amount!). How much do you think you would deserve then?",Time you went to be Yesterday,What makes a good day for you (1)?,What makes a good day for you (2)?
count,304,304,304,304,304,304,214,304,304,303,302,304,304
unique,106,3,3,3,3,5,204,30,77,102,164,201,235
top,AI,yes,0,mu,ja,male,08-05-1998,0,50,100,23:00,Sun,Food
freq,66,185,202,243,158,183,3,126,22,50,21,14,11

In [11]:
df6.head()

,What programme are you in?,Have you taken a course on machine learning?,Have you taken a course on information retrieval?,Have you taken a course on statistics?,Have you taken a course on databases?,What is your gender?,When is your birthday (date)?,Number of neighbors sitting around you?,What is your stress level (0-100)?,"You can get 100 euros if you win a local DM competition, or we don’t hold any competitions and I give everyone some money (not the same amount!). How much do you think you would deserve then?",Time you went to be Yesterday,What makes a good day for you (1)?,What makes a good day for you (2)?
0,AI,yes,0,mu,nee,female,02-05-1998,0,0,5,23:00,coffee,sun
1,big data,yes,0,mu,nee,male,29-02-2000,0,200,1,32,7777,8964
2,Computational Science,yes,1,mu,ja,male,29-06-1998,1,0,100,x,0,0
3,Bioinformatics and Systems Biology,yes,0,unknown,nee,male,11-05-1997,0,20,100,14:00,good food,no stress
4,AI,yes,1,mu,ja,male,03-10-1997,0,2,100,07:20,Sunshine,Good Food

In [12]:
bool1 = ["0"]
bool2 = ["1"]
ir1 = dict.fromkeys(bool1,"no")
df6["Have you taken a course on information retrieval?"] = df6["Have you taken a course on information retrieval?"].replace(ir1)

In [13]:
ir2 = dict.fromkeys(bool2,"yes")
df6["Have you taken a course on information retrieval?"] = df6["Have you taken a course on information retrieval?"].replace(ir2)

In [14]:
bool3 = ["mu"]
bool4 = ["sigma"]
bool5 = ["nee"]
bool6 = ["ja"]

In [15]:
st1 = dict.fromkeys(bool3,"no")
df6["Have you taken a course on statistics?"] = df6["Have you taken a course on statistics?"].replace(st1)

In [16]:
st2 = dict.fromkeys(bool4,"yes")
df6["Have you taken a course on statistics?"] = df6["Have you taken a course on statistics?"].replace(st2)

In [17]:
db1 = dict.fromkeys(bool5,"no")
df6["Have you taken a course on databases?"] = df6["Have you taken a course on databases?"].replace(db1)

In [18]:
db2 = dict.fromkeys(bool6,"yes")
df6["Have you taken a course on databases?"] = df6["Have you taken a course on databases?"].replace(db2)

In [19]:
df6.describe()

,What programme are you in?,Have you taken a course on machine learning?,Have you taken a course on information retrieval?,Have you taken a course on statistics?,Have you taken a course on databases?,What is your gender?,When is your birthday (date)?,Number of neighbors sitting around you?,What is your stress level (0-100)?,"You can get 100 euros if you win a local DM competition, or we don’t hold any competitions and I give everyone some money (not the same amount!). How much do you think you would deserve then?",Time you went to be Yesterday,What makes a good day for you (1)?,What makes a good day for you (2)?
count,304,304,304,304,304,304,214,304,304,303,302,304,304
unique,106,3,3,3,3,5,204,30,77,102,164,201,235
top,AI,yes,no,no,yes,male,08-05-1998,0,50,100,23:00,Sun,Food
freq,66,185,202,243,158,183,3,126,22,50,21,14,11

In [20]:
df7=df6.drop(df6.columns[[7,9]], axis=1)

In [21]:
df7.describe()

,What programme are you in?,Have you taken a course on machine learning?,Have you taken a course on information retrieval?,Have you taken a course on statistics?,Have you taken a course on databases?,What is your gender?,When is your birthday (date)?,What is your stress level (0-100)?,Time you went to be Yesterday,What makes a good day for you (1)?,What makes a good day for you (2)?
count,304,304,304,304,304,304,214,304,302,304,304
unique,106,3,3,3,3,5,204,77,164,201,235
top,AI,yes,no,no,yes,male,08-05-1998,50,23:00,Sun,Food
freq,66,185,202,243,158,183,3,22,21,14,11

In [22]:
df7.head()

,What programme are you in?,Have you taken a course on machine learning?,Have you taken a course on information retrieval?,Have you taken a course on statistics?,Have you taken a course on databases?,What is your gender?,When is your birthday (date)?,What is your stress level (0-100)?,Time you went to be Yesterday,What makes a good day for you (1)?,What makes a good day for you (2)?
0,AI,yes,no,no,no,female,02-05-1998,0,23:00,coffee,sun
1,big data,yes,no,no,no,male,29-02-2000,200,32,7777,8964
2,Computational Science,yes,yes,no,yes,male,29-06-1998,0,x,0,0
3,Bioinformatics and Systems Biology,yes,no,unknown,no,male,11-05-1997,20,14:00,good food,no stress
4,AI,yes,yes,no,yes,male,03-10-1997,2,07:20,Sunshine,Good Food

In [23]:
print(df7["What programme are you in?"])

0                                      AI
1                                big data
2                  Computational  Science
3      Bioinformatics and Systems Biology
4                                      AI
                      ...
299                                    AI
300                                     E
301             MSc Computational Science
302               Artificial Intelligence
303                    Business Analytics
Name: What programme are you in?, Length: 304, dtype: object

In [24]:
ai2 = ["Artificial Intelligence"]
d2 = dict.fromkeys(ai2,'AI')
df7["What programme are you in?"] = df7["What programme are you in?"].replace(d2)

In [25]:
print(df7["What programme are you in?"])

0                                      AI
1                                big data
2                  Computational  Science
3      Bioinformatics and Systems Biology
4                                      AI
                      ...
299                                    AI
300                                     E
301             MSc Computational Science
302                                    AI
303                    Business Analytics
Name: What programme are you in?, Length: 304, dtype: object

In [26]:
df7.describe()

,What programme are you in?,Have you taken a course on machine learning?,Have you taken a course on information retrieval?,Have you taken a course on statistics?,Have you taken a course on databases?,What is your gender?,When is your birthday (date)?,What is your stress level (0-100)?,Time you went to be Yesterday,What makes a good day for you (1)?,What makes a good day for you (2)?
count,304,304,304,304,304,304,214,304,302,304,304
unique,105,3,3,3,3,5,204,77,164,201,235
top,AI,yes,no,no,yes,male,08-05-1998,50,23:00,Sun,Food
freq,97,185,202,243,158,183,3,22,21,14,11

In [27]:
cs = ["big data","Computer Science","MSc Computer Science","Computer science","CS Big Data Engineering","Computer Science(joint degree)","CS","cs","MSc Computer science","Computer science - BDE","Master of Computer science"]
comp = dict.fromkeys(cs,'CS')
df7["What programme are you in?"] = df7["What programme are you in?"].replace(comp)

In [28]:
df7.describe()

,What programme are you in?,Have you taken a course on machine learning?,Have you taken a course on information retrieval?,Have you taken a course on statistics?,Have you taken a course on databases?,What is your gender?,When is your birthday (date)?,What is your stress level (0-100)?,Time you went to be Yesterday,What makes a good day for you (1)?,What makes a good day for you (2)?
count,304,304,304,304,304,304,214,304,302,304,304
unique,97,3,3,3,3,5,204,77,164,201,235
top,AI,yes,no,no,yes,male,08-05-1998,50,23:00,Sun,Food
freq,97,185,202,243,158,183,3,22,21,14,11

In [29]:
print(df7["What programme are you in?"])

0                                      AI
1                                      CS
2                  Computational  Science
3      Bioinformatics and Systems Biology
4                                      AI
                      ...
299                                    AI
300                                     E
301             MSc Computational Science
302                                    AI
303                    Business Analytics
Name: What programme are you in?, Length: 304, dtype: object

In [30]:
print(df7['When is your birthday (date)?'])

0      02-05-1998
1      29-02-2000
2      29-06-1998
3      11-05-1997
4      03-10-1997
          ...
299    01-01-1956
300           NaN
301    17-07-1995
302           NaN
303    12-05-1998
Name: When is your birthday (date)?, Length: 304, dtype: object

In [31]:
df7.dropna(subset=['When is your birthday (date)?'], inplace = True)

In [32]:
df7.describe()

,What programme are you in?,Have you taken a course on machine learning?,Have you taken a course on information retrieval?,Have you taken a course on statistics?,Have you taken a course on databases?,What is your gender?,When is your birthday (date)?,What is your stress level (0-100)?,Time you went to be Yesterday,What makes a good day for you (1)?,What makes a good day for you (2)?
count,214,214,214,214,214,214,214,214,212,214,214
unique,72,3,3,3,3,5,204,63,126,137,172
top,AI,yes,no,no,yes,male,08-05-1998,70,23:00,sun,Food
freq,73,131,148,175,109,124,3,18,13,10,6

In [45]:
from datetime import datetime as dt
df7['When is your birthday (date)?'] = pd.to_datetime(df7['When is your birthday (date)?'])
df7['When is your birthday (date)?'] = df7['When is your birthday (date)?'].dt.strftime('%Y')

AttributeError: Can only use .dt accessor with datetimelike values

In [46]:
df7.describe()

,What programme are you in?,Have you taken a course on machine learning?,Have you taken a course on information retrieval?,Have you taken a course on statistics?,Have you taken a course on databases?,What is your gender?,When is your birthday (date)?,What is your stress level (0-100)?,Time you went to be Yesterday,What makes a good day for you (1)?,What makes a good day for you (2)?
count,214,214,214,214,214,214,214,214,212,214,214
unique,71,3,3,3,3,5,21,63,126,137,172
top,AI,yes,no,no,yes,male,1998,70,23:00,sun,Food
freq,74,131,148,175,109,124,56,18,13,10,6

In [35]:
print(df7['When is your birthday (date)?'])

0      1998
1      2000
2      1998
3      1997
4      1997
       ...
292    1997
294    1996
299    1956
301    1995
303    1998
Name: When is your birthday (date)?, Length: 214, dtype: object

In [36]:
df7['When is your birthday (date)?'].value_counts()

1998    56
1997    39
1999    38
1996    20
1995    16
2000    13
2001     5
1994     5
1900     4
1982     3
1991     3
1992     2
1990     2
1956     1
2003     1
1969     1
2004     1
1974     1
1989     1
1993     1
2022     1
Name: When is your birthday (date)?, dtype: int64

In [37]:
df7["What programme are you in?"].value_counts()

AI                                           73
CS                                           26
Computational Science                        16
Business Analytics                           11
BA                                            4
                                             ..
IS:DS                                         1
MSc in Bioinformatics and Systems Biology     1
Artificial Intelligence MsC                   1
Engineering and Policy Analysis, TU Delft     1
Bioinformatics                                1
Name: What programme are you in?, Length: 72, dtype: int64

In [38]:
ai3 = ["Artificial Intelligence MsC"]
d3= dict.fromkeys(ai3,'AI')
df7["What programme are you in?"] = df7["What programme are you in?"].replace(d3)

In [39]:
df7["What programme are you in?"].value_counts()

AI                                           74
CS                                           26
Computational Science                        16
Business Analytics                           11
Bioinformatics and Systems Biology            4
                                             ..
IS:DS                                         1
MSc in Bioinformatics and Systems Biology     1
Engineering and Policy Analysis, TU Delft     1
Masters EOR                                   1
Bioinformatics                                1
Name: What programme are you in?, Length: 71, dtype: int64

In [43]:
df7.to_csv('clean.csv', encoding='utf-8')

0                                      AI
1                                      CS
2                  Computational  Science
3      Bioinformatics and Systems Biology
4                                      AI
                      ...
292                                  BISB
294                                    CS
299                                    AI
301             MSc Computational Science
303                    Business Analytics
Name: What programme are you in?, Length: 214, dtype: object