In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("some_clean.csv")

In [3]:
df.head()

,What programme are you in?,Have you taken a course on machine learning?,Have you taken a course on information retrieval?,Have you taken a course on statistics?,Have you taken a course on databases?,What is your gender?,When is your birthday (date)?,What is your stress level (0-100)?,Time you went to be Yesterday,What makes a good day for you (1)?,What makes a good day for you (2)?
0,AI,yes,no,no,no,female,02-05-1998,0,23:00,coffee,sun
1,CS,yes,no,no,no,male,29-02-2000,200,32,7777,8964
2,CLS,yes,yes,no,yes,male,29-06-1998,0,x,0,0
3,Bioinfo,yes,no,unknown,no,male,11-05-1997,20,14:00,good food,no stress
4,AI,yes,yes,no,yes,male,03-10-1997,2,07:20,Sunshine,Good Food

In [4]:
df["When is your birthday (date)?"].value_counts()

08-05-1998    3
01-01-1900    3
16-02-1998    2
18-06-1999    2
29-05-1998    2
             ..
03-08-1999    1
13-07-1998    1
04-09-1997    1
08-06-1999    1
27-06-1998    1
Name: When is your birthday (date)?, Length: 204, dtype: int64

In [5]:
df.describe()

,What programme are you in?,Have you taken a course on machine learning?,Have you taken a course on information retrieval?,Have you taken a course on statistics?,Have you taken a course on databases?,What is your gender?,When is your birthday (date)?,What is your stress level (0-100)?,Time you went to be Yesterday,What makes a good day for you (1)?,What makes a good day for you (2)?
count,304,304,304,304,304,304,214,304,302,304,304
unique,40,3,3,3,3,5,204,77,164,201,235
top,AI,yes,no,no,yes,male,08-05-1998,10,23:00,Sun,Food
freq,113,185,202,243,158,183,3,22,21,14,11

In [6]:
df.dropna(subset=['When is your birthday (date)?'], inplace = True)

In [7]:
df.to_csv("more_clean.csv")

In [8]:
df.describe()

,What programme are you in?,Have you taken a course on machine learning?,Have you taken a course on information retrieval?,Have you taken a course on statistics?,Have you taken a course on databases?,What is your gender?,When is your birthday (date)?,What is your stress level (0-100)?,Time you went to be Yesterday,What makes a good day for you (1)?,What makes a good day for you (2)?
count,214,214,214,214,214,214,214,214,212,214,214
unique,30,3,3,3,3,5,204,63,126,137,172
top,AI,yes,no,no,yes,male,08-05-1998,70,23:00,sun,Good food
freq,85,131,148,175,109,124,3,18,13,10,6